<suite name="SL8Z-Project">
  
  <test name="Create New Search">
    <classes>
      <class name="com.SL8Z.testcases.Create_New_Search"></class>
    </classes>
  </test>  
  
  <test name="Verify Client Side Validation">
    <classes>
      <class name="com.SL8Z.testcases.Verify_Client_Side_Validation"></class>
    </classes>
  </test> 
  
  <test name="Verify Server Side Validation">
    <classes>
      <class name="com.SL8Z.testcases.Verify_Server_Side_Validation"></class>
    </classes>
  </test> 
  
  <test name="Verify Quick Preview Buttons">
    <classes>
      <class name="com.SL8Z.testcases.Verify_Quick_Preview_Buttons"></class>
    </classes>
  </test> 
  
  <test name="Verify Placement Fee">
    <classes>
      <class name="com.SL8Z.testcases.Verify_Placement_Fee"></class>
    </classes>
  </test> 
  
  <test name="Verify Engagement Dashboard Page Links">
    <classes>
      <class name="com.SL8Z.testcases.Verify_Engagement_Dashboard_Page_Links"></class>
    </classes>
  </test> 
  
  <test name="Verify Action Buttons">
    <classes>
      <class name="com.SL8Z.testcases.Verify_Action_Buttons"></class>
    </classes>
  </test> 
  
  <test name="Verify Corresponding Numbers">
    <classes>
      <class name="com.SL8Z.testcases.Verify_Corresponding_Numbers"></class>
    </classes>
  </test> 
 
  <test name="Verify Corresponding Number Single Job Dashboard">
    <classes>
      <class name="com.SL8Z.testcases.Verify_Corresponding_Number_Single_Job_Dashboard"></class>
    </classes>
  </test> 
  
  <test name="Verify Action Buttons Single Job Dashboard">
    <classes>
      <class name="com.SL8Z.testcases.Verify_Action_Buttons_Single_Job_Dashboard"></class>
    </classes>
  </test> 
  
  </suite>